root = true

[*]
indent_style = space

[*.{csproj,props,targets}]
indent_size = 2
charset = utf-8-bom

[*.cs]
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
