language: csharp
solution: libsodium-core.sln

mono: none

env:
  global:
    - DOTNET_CLI_TELEMETRY_OPTOUT: 1
    - DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1

addons:
  apt:
    sources:
      - sourceline: 'deb [arch=amd64] https://packages.microsoft.com/repos/microsoft-ubuntu-trusty-prod trusty main'
        key_url: 'https://packages.microsoft.com/keys/microsoft.asc'
    packages:
      - dotnet-hostfxr-1.0.1
      - dotnet-sharedframework-microsoft.netcore.app-1.0.5

matrix:
  fast_finish: true
  include:
    - os: linux
      dist: trusty
      sudo: false
      dotnet: 2.0.0
    - os: osx
      osx_image: xcode9
      dotnet: 2.0.0

notifications:
  email:
    on_success: change
    on_failure: always

branches:
  only:
    - master

cache:
  directories:
  - $HOME/.nuget/packages

before_install:
  - git config --global core.autocrlf input
  - ulimit -n 1024

install:
  - dotnet restore --disable-parallel -r $TRAVIS_OS_NAME-x64

script:
  - dotnet test test/Sodium.Tests/Sodium.Tests.csproj -f netcoreapp1.1
