language: csharp
solution: libsodium-core.sln

matrix:
  fast_finish: true
  include:
    - os: linux
      dist: trusty
      sudo: false
      dotnet: 2.2.3
      mono: none
    - os: osx
      osx_image: xcode9
      dotnet: 2.2.3
      mono: none

notifications:
  email:
    on_success: change
    on_failure: always

branches:
  only:
    - master

cache:
  directories:
  - $HOME/.nuget/packages

before_install:
  - git config --global core.autocrlf input
  - ulimit -n 1024

install:
  - dotnet restore --disable-parallel -r $TRAVIS_OS_NAME-x64

script:
  - dotnet test test/Sodium.Tests/Sodium.Tests.csproj -f netcoreapp2.0
