environment:
  PKG_VERSION: 1.2.1
  VERSION_SUFFIX: ""
version: ${PKG_VERSION}-{build}
configuration: Release
platform: x64
image: Visual Studio 2019

skip_commits:
  message: /chore/
  files:
    - '**\*.md'
    - LICENSE

skip_branch_with_pr: true

matrix:
  fast_finish: true

init:
  - git config --global core.autocrlf input
  - ps: $env:BUILD_VERSION = "$env:PKG_VERSION-$env:APPVEYOR_BUILD_NUMBER"
  - ps: |
      if ($env:APPVEYOR_REPO_BRANCH -eq "master")
      {
        $env:VERSION_SUFFIX = ""
        $env:NUGET_VERSION = "$env:PKG_VERSION"
      }
      else
      {
        $env:VERSION_SUFFIX = "beta$env:APPVEYOR_BUILD_NUMBER"
        $env:NUGET_VERSION = "$env:PKG_VERSION-$env:VERSION_SUFFIX"
      }
  - ps: Update-AppveyorBuild -Version $env:BUILD_VERSION
  - ps: Write-Host "Build version $env:BUILD_VERSION, NuGet version $env:NUGET_VERSION, Version suffix $env:VERSION_SUFFIX"

before_build:
  - appveyor-retry dotnet restore -v Minimal

build_script:
  - ps: |
      if ($env:APPVEYOR_REPO_BRANCH -eq "master")
      {
        msbuild /t:build "src\Sodium.Core" /p:Configuration=$env:CONFIGURATION
      }
      else
      {
        msbuild /t:build "src\Sodium.Core" /p:Configuration=$env:CONFIGURATION /p:version-suffix=$env:VERSION_SUFFIX
      }
after_build:
  - ps: |
      if ($env:APPVEYOR_REPO_BRANCH -eq "master")
      {
        msbuild /t:pack "src\Sodium.Core" /p:Configuration=$env:CONFIGURATION /p:NoBuild=true /p:PackageOutputPath=$env:APPVEYOR_BUILD_FOLDER\artifacts
      }
      else
      {
        msbuild /t:pack "src\Sodium.Core" /p:Configuration=$env:CONFIGURATION /p:NoBuild=true /p:version-suffix=$env:VERSION_SUFFIX /p:PackageOutputPath=$env:APPVEYOR_BUILD_FOLDER\artifacts
      }

test: off

test_script:
  - dotnet test --configuration Debug --framework netcoreapp2.2 --logger trx;logfilename=TestResult.xml --results-directory "%APPVEYOR_BUILD_FOLDER%\test\Sodium.Tests\TestResults" /p:CollectCoverage=true /p:CoverletOutputFormat=opencover %APPVEYOR_BUILD_FOLDER%\test\Sodium.Tests\Sodium.Tests.csproj

after_test:
  - ps: |
      $wc = New-Object 'System.Net.WebClient'
      $wc.UploadFile("https://ci.appveyor.com/api/testresults/xunit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\test\Sodium.Tests\TestResults\TestResult*.xml))

on_success:
  - choco install codecov
  - codecov -f "%APPVEYOR_BUILD_FOLDER%\test\Sodium.Tests\coverage.xml"

artifacts:
  - path: artifacts\**\*.*

cache:
  - '%USERPROFILE%\.local'
  - '%USERPROFILE%\.nuget\packages -> **\*.csproj'
  - '%LocalAppData%\NuGet\Cache'
  - '%LocalAppData%\Python'
  - '.\packages -> **\*.csproj'
  - '.\tools'
  - '\Python34'

nuget:
  account_feed: true

deploy:
  - provider: NuGet
    api_key:
      secure: WcDqU36pLPvA+s5D4N0VEsi7AZGewvf4croE/D3rh3F+iqiztq9w5gHbrhgoTNS9
    on:
      branch: master
      appveyor_repo_tag: true
  - provider: GitHub
    description: "Release description"
    auth_token:
      secure: nsZHZ5nFBFP4fZoVUEeWeZKx7LUASVqCZ+JblTox+02RfTAOlANdFWeCqOwhu7pk
    artifact: /.*\.nupkg/ # upload all NuGet packages to release assets
    draft: false
    prerelease: false
    on:
      branch: master # release from master branch only
      appveyor_repo_tag: true
